/* Full page lighter blue background with vignette effect */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ADD8E6;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%), #ADD8E6;
  font-family: 'Anton', sans-serif;
  overflow: hidden;
  flex-direction: column;
}

/* Centering the text, making it bold and larger */
#year-text {
  font-size: 5rem;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeInText 3s forwards;
}

/* Time Machine Image */
#time-machine {
  max-width: 300px;
  opacity: 0; /* Start hidden */
  margin-top: 20px;
  transition: opacity 2s, transform 0.5s ease; /* Smooth transition for opacity and size */
  cursor: pointer; /* Make it look clickable */
}

/* Caption styling */
#caption {
  font-size: 2rem; /* Larger font size */
  color: #FFFFFF; /* White text */
  text-align: center; /* Align text to the left */
  position: relative; /* Use relative positioning */
  margin-top: 130px; /* Move the text lower */
  margin-left: 20px; /* Move the text to the left */
  font-family: 'Roboto', sans-serif; /* Improved font style */
  font-weight: 400; /* Normal weight for smooth look */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
}

#second-caption {
  font-size: 1rem; /* Match the style of the first caption */
  color: #FFFFFF;
  text-align: center;
  position: relative; /* Use relative positioning */
  margin-top: 70px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/* Example Media Query for Mobile */
@media (max-width: 768px) {
  #caption {
    font-size: 1.5rem; /* Smaller font size for mobile screens */
    margin-top: 20px; /* Adjust the margin for mobile */
    margin-left: 10px; /* Adjust the left margin for mobile */
  }
}


/* Keyframes for fade-in text animation */
@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
